{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Chat Bot UI</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body background="../static/e2b84b1b-e086-4932-bd5e-d2bcf91b9ff0.jpg">
    <div style="float: right;
    padding-right: 10px;">
    <div class="headerBar">
        <div class="user-photo"><img src="{% static '123.JPG' %}"></div>
        <p class="title">MAYAR RESIDENCY BOT </p>
    </div>

    <div class="chatbox">

        <div id="chatlogs" class="chatlogs">
            <!-- first hello msgs div -->
            <div class="chat friend">
                <div class=""></div>
            </div>
            
            <div class="chat friend" id="loadingGif" style="display: none;">
                <div class="user-photo"></div>
                <div class="gif"></div>
            </div>
            

            {% for i in Chat1 %}
            <div  class="chat friend">
                <div  class="{% cycle 'chat friend' 'chat self'%}"></div>
                <div class="user-photo"></div>
                <p class="chat-message" style="background-color: blueviolet;">{{i}} </p>
             </div>
            {% endfor %}

        </div>
    </div>
    <div class="chat-form">
        <!-- user inputs from here -->
        <div id="inputDiv">
            <div id="buttonDiv"></div>
			<form method="POST" action="{% url 'Bot:home' %}">{% csrf_token %}
            <input id = "inputDiv" type="text" name="myvalue">
            <input style="    background-color: red;color: white;padding: 6px 32px;text-decoration: none; margin: 4px 2px;cursor: pointer;" id = "chat-form-buttons" type = "submit" value= "send">
        </form>
            <!--textarea class="input" placeholder="Message" rows="1" data-min-rows='1'></textarea>-->
        </div>
        <!-- ye shashkay k liye dalay ve hen bas -->
        <!-- onsubmit pe function chaladena enter krty hee render hojaiga 
        wrna ye button tag se comment hata k id de k sumbit krlo -->
        <div id="chat-form-buttons">
            <!-- <button>SUBMIT</button> -->
        </div>
    </div>
    <!-- tum apni python ki chezen link kraogy js ki ni nechy shyd -->
    <!-- <script type="text/javascript" src="index.js"></script> --> 
</div>
<script>
    window.onload= function(){
      var a = document.getElementByID("chatlogs");
      a.scrollTop = a.scrollHeight;
    }
  </script>
</body>

</html>